.perfil {
  width: 50%;
  padding-top: 50px;
  text-align: center;
  color: $color-claro;
  background-color: $color-secundario;
  &__avatar {
    display: block;
    margin: 0 auto;
    border-radius: 50em;
  }
  &__nombre {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-family: $Fuente2;
  }
  &__titulo {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    @include titulosh3($color-variacion);
  }
  &__boton {
    display: block;
    width: 100px;
    height: 40px;
    margin: 15px auto;
    line-height: 40px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    @include titulos($Fuente2);
    color: $color-claro;
    background-color: get-opacity($color-claro, 0.1);
    border: 2px solid get-opacity($color-claro, 0.3);
  }
}
.perfil__minibio {
  padding-top: 20px;
  /* este h2 va a comprartir estilos con el h2 de .perfil__nombre */
  h2 {
    @extend .perfil__nombre;
  }
  h3 {
    @extend .perfil__titulo;
  }
}
